:root {
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --purple-light: #8284fa;
  --purple-dark: #5e60ce;

  --blue-light: #4ea8de;
  --blue-dark: #1e6f9f;

  --red-danger: #e25858;
}

:focus {
  outline: 2px solid var(--purple-dark);
  outline-offset: 1px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 87.5%;

  @media (min-width: 640px) {
    font-size: 93.75%;
  }

  @media (min-width: 1024px) {
    font-size: 100%;
  }
}

body,
input,
textarea,
select,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray-100);
}

body {
  background-color: var(--gray-600);
}

main {
  max-width: 736px;
  padding-inline: 1rem;
  margin-inline: auto;
}

a,
button {
  cursor: pointer;
}

button {
  border: 0;
  background: transparent;
}
